<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
</head>
<body>
  <div style="text-align: center;">
    <h1>Change Password</h1>
    <form id="change-password-form">
      <div>
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="newPassword" required>
      </div>
      <div>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirmPassword" required>
      </div>
      <div>
        <button type="submit">Change Password</button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('change-password-form').addEventListener('submit', function(event) {
      event.preventDefault();
      
      const newPassword = document.getElementById('new-password').value;
      const confirmPassword = document.getElementById('confirm-password').value;
      
      if (newPassword !== confirmPassword) {
        alert('Passwords do not match');
        return;
      }
      
      const token = '${token}'; // Replace with the actual reset token
      
      // Make the POST request to the server
      fetch('${process.env.SITE_HOST}/auth/forgot-password/action', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'authorization': 'bearer ${token}'
        },
        body: JSON.stringify({ token, newPassword })
      })
      .then(response => {
        if (response.ok) {
          alert('Password changed successfully');
          // Redirect the user to the login page or any other desired page
          console.log('successfull')
          window.location.href = '${process.env.LOGIN_PAGE_URL}';
        } else {
          alert('Failed to change password');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred');
      });
    });
  </script>
</body>
</html>